### Import Libraries

In [1]:
import pyodbc as sql 
import pandas as pd

### Define connection string to SQL Server

In [2]:
source_db_config = {
    'Trusted_Connection': 'yes',
    'driver': '{SQL Server}',
    'server': '.',
    'database': 'AdventureWorksDW2017',
    'autocommit': True,
}

### Define the query to be used in the call to SQL

In [3]:
sql_query = '''
SELECT *, YEAR(OrderDate) AS OrderYear, MONTH(OrderDate) AS OrderMonth, DAY(OrderDate) AS OrderDay
  FROM [AdventureWorksDW2017].[dbo].[FactInternetSales] 
'''

### Set the connection

In [4]:
source_conn = sql.connect(**source_db_config)

### Call SQL and load data to dataframe for storage

In [5]:
df = pd.read_sql(sql_query, source_conn)
print(df)

       ProductKey  OrderDateKey  DueDateKey  ShipDateKey  CustomerKey  \
0             310      20101229    20110110     20110105        21768
1             346      20101229    20110110     20110105        28389
2             346      20101229    20110110     20110105        25863
3             336      20101229    20110110     20110105        14501
4             346      20101229    20110110     20110105        11003
...           ...           ...         ...          ...          ...
60393         485      20140128    20140209     20140204        15868
60394         225      20140128    20140209     20140204        15868
60395         485      20140128    20140209     20140204        18759
60396         486      20140128    20140209     20140204        18759
60397         225      20140128    20140209     20140204        18759

       PromotionKey  CurrencyKey  SalesTerritoryKey SalesOrderNumber  \
0                 1           19                  6          SO43697
1                 1           39                  7          SO43698
2                 1          100                  1          SO43699
3                 1          100                  4          SO43700
4                 1            6                  9          SO43701
...             ...          ...                ...              ...
60393             1          100                  6          SO75122
60394             1          100                  6          SO75122
60395             1          100                  6          SO75123
60396             1          100                  6          SO75123
60397             1          100                  6          SO75123

       SalesOrderLineNumber  ...    TaxAmt  Freight  CarrierTrackingNumber  \
0                         1  ...  286.2616  89.4568                   None
1                         1  ...  271.9992  84.9998                   None
2                         1  ...  271.9992  84.9998                   None
3                         1  ...   55.9279  17.4775                   None
4                         1  ...  271.9992  84.9998                   None
...                     ...  ...       ...      ...                    ...
60393                     1  ...    1.7584   0.5495                   None
60394                     2  ...    0.7192   0.2248                   None
60395                     1  ...    1.7584   0.5495                   None
60396                     2  ...   12.7200   3.9750                   None
60397                     3  ...    0.7192   0.2248                   None

       CustomerPONumber  OrderDate    DueDate   ShipDate  OrderYear  \
0                  None 2010-12-29 2011-01-10 2011-01-05       2010
1                  None 2010-12-29 2011-01-10 2011-01-05       2010
2                  None 2010-12-29 2011-01-10 2011-01-05       2010
3                  None 2010-12-29 2011-01-10 2011-01-05       2010
4                  None 2010-12-29 2011-01-10 2011-01-05       2010
...                 ...        ...        ...        ...        ...
60393              None 2014-01-28 2014-02-09 2014-02-04       2014
60394              None 2014-01-28 2014-02-09 2014-02-04       2014
60395              None 2014-01-28 2014-02-09 2014-02-04       2014
60396              None 2014-01-28 2014-02-09 2014-02-04       2014
60397              None 2014-01-28 2014-02-09 2014-02-04       2014

       OrderMonth  OrderDay
0              12        29
1              12        29
2              12        29
3              12        29
4              12        29
...           ...       ...
60393           1        28
60394           1        28
60395           1        28
60396           1        28
60397           1        28

[60398 rows x 29 columns]