### Import libraries

In [1]:
import pandas as pd 
import numpy as np 
import sqlalchemy as sa
import configparser 

from Functions.sql_processes import *

### Load the configuration file

In [2]:
# Load Config
config = configparser.ConfigParser()
config.read('Config/config.ini')

['Config/config.ini']

### Set the connection string

In [3]:
# Initialize Variables
eng_conn = config['Dev']['conn_string']

### Set the query string used for lookup

In [4]:
query = '''
    Select * FROM AdventureWorks2017.Sales.SalesOrderHeader
'''

### Connect to sql and execute the query, returning results to dataframe

In [5]:
df = pd.read_sql_query(query, eng_conn)

### Get row counts

In [6]:
df.count()

SalesOrderID              31465
RevisionNumber            31465
OrderDate                 31465
DueDate                   31465
ShipDate                  31465
Status                    31465
OnlineOrderFlag           31465
SalesOrderNumber          31465
PurchaseOrderNumber        3806
AccountNumber             31465
CustomerID                31465
SalesPersonID              3806
TerritoryID               31465
BillToAddressID           31465
ShipToAddressID           31465
ShipMethodID              31465
CreditCardID              30334
CreditCardApprovalCode    30334
CurrencyRateID            13976
SubTotal                  31465
TaxAmt                    31465
Freight                   31465
TotalDue                  31465
Comment                       0
rowguid                   31465
ModifiedDate              31465
dtype: int64

### Get the number of blank/null values

In [7]:
df.isnull().sum()

SalesOrderID                  0
RevisionNumber                0
OrderDate                     0
DueDate                       0
ShipDate                      0
Status                        0
OnlineOrderFlag               0
SalesOrderNumber              0
PurchaseOrderNumber       27659
AccountNumber                 0
CustomerID                    0
SalesPersonID             27659
TerritoryID                   0
BillToAddressID               0
ShipToAddressID               0
ShipMethodID                  0
CreditCardID               1131
CreditCardApprovalCode     1131
CurrencyRateID            17489
SubTotal                      0
TaxAmt                        0
Freight                       0
TotalDue                      0
Comment                   31465
rowguid                       0
ModifiedDate                  0
dtype: int64

### Create a column for PaymentMethod.  Setting Cash if CreditCardID is null and Card if value exists

In [8]:
df['PaymentMethod'] = np.where(df['CreditCardID'].isnull(), 'Cash', 'Card')

### Output the top 10 results

In [ ]:
print(df.head(10))

### Start here for Breweries data Profile (Live coding, what could go wrong!)